.Dashboard form {
    padding-bottom: 15px;
  }
  
.Dashboard form textarea {
    height: 200px;
    font-size: 16px;
  }

.container-fluid {
 margin-left: 0px !important;
 margin-right: 0px !important;
 padding-left: 0px;
 padding-right: 0px;
}

.sidebar {
  border-radius: 0 !important;
}

.sidebar .panel {
  border-radius: 0;
  background-color: darkgray;
  height: 89vh;
  
}